/nationality/
/stadi/
/target/
/completed_triple
/completed_triple_nation
/completed_triple_stadium
/free_base_completed
/free_base_completed_nation
/free_base_completed_stadium
/soccerplayers_Nonationality.tsv
/teams_NOstadium.tsv
/Triple_Nation_Completate.txt
/Triple_Stadio_Completate_senzachiave.txt
/Triple_Stadio_Completate.txt
/money/
/Dati_money/
/Dati_nationality/
/Dati_stadi/
/Risultati_money/
/Risultati_nationality/
