/* CSS made by Davide V. */

body {
	font-family: Verdana, sans-serif;
	color: #000;
	font-size: 12px;
	background-color: #FFDEC7;
	margin-top: 0px;
	margin-bottom: 250px;
}

a, a:active, a:visited {
	text-decoration: none;
	border-bottom: 1px dotted;
	font-size: 20px;
	color: #000;
}

a:hover {
	border-bottom: 0px;
}

table.tabella {
	margin: 0 auto;
	width: 900px;
	border: 0px;
}

#logo {
	width: 55%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	text-align: center;
	margin-bottom: -10px;
}

#box {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

ol {
	padding-left: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}